  <div class="editor-row">
    <div class="section">
      <h5>Parameters</h5>
      <div class="editor-option">
        <label class="small">Field</label>
        <input type="text" class="input-small" bs-typeahead="fields.list" ng-model="panel.field" ng-change="set_refresh(true)">
      </div>
      <div class="editor-option">
        <label class="small">Length</label>
        <input class="input-small" type="number" ng-model="panel.size" ng-change="set_refresh(true)">
      </div>
      <div class="editor-option">
        <label class="small">Order</label>
        <select class="input-medium" ng-model="panel.order" ng-options="f for f in ['count','term','reverse_count','reverse_term']" ng-change="set_refresh(true)"></select>
      </div>
    </div>
  </div>
