button:hover { color: #25B960; }

.bgPrimary { background: #0261d1; }
.bgSuccess { background: #01273d; }
.bgWarning { background: #29ce6b; }

.btn-danger { background-color: #DC3545; }
.btn-success { background-color: #29ce6b; } /* was #699e00 */
.btn-success:hover { background-color: #25B960; }

/*.ng-binding { background: #90ccfc; }*/

[ng\:cloak],[ng-cloak],.ng-cloak {
    display:none!important}

/* progressive disclosure of panel config options - desktop/hover devices only */
@media (hover: hover) and (pointer: fine) {
    .panel-extra-container i:not(.icon-spinner) { display: none; }
    .panel-container:hover .panel-extra-container i:not(.icon-spinner) { display: inline; }
}
