@charset "utf-8";
/* reset */
body,button,input,select,textarea{font:12px/1.125 SimSun,Helvetica,san-serif;color:#000000}
body,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,th,td,p,blockquote,pre,form,fieldset,legend,input,button,textarea,hr{margin:0; padding:0;}
table{border-collapse:collapse;border-spacing:0;}
li{list-style:none;}
fieldset,img{border:0;}
q:before,q:after{content:'';}
input,textarea{outline-style:none;}
textarea{resize:none}
address,caption,cite,code,dfn,em,i,th,var{font-style:normal;font-weight:normal;}
legend{color:#000;}
abbr,acronym {border:0;font-variant:normal;}
a{text-decoration:none;}
a:hover{text-decoration:underline;}
.clearfix:after{content:".";display:block;height:0;visibility:hidden;clear:both;}
.clearfix{zoom:1;}
/*---------login start---------------*/
.sla_login{
	background:url(images/login_bg02.jpg) repeat 0 0;
	text-align:center;
	font-size:14px;
}
.sla_login .login_main{background:url(images/login_bg01.jpg) repeat-x 0 0;width:100%;height:auto}
.login_wrap{width:372px;margin:0 auto;text-align:left;padding-top:144px}
.login_wrap h1{width:171px;height:31px;line-height:200px;}
.login_form .field{margin-bottom:19px;height:28px;line-height:28px;}
.login_form .field label{float:left;margin-right:22px;display:inline-block;width:59px;height:28px;text-align:right;color:#fcfcfc;}
.login_form .field input{float:left;padding:5px;width:202px;height:18px;line-height:18px;border:0 none;background-color:#ffffff;font-size:12px;color:#000000}
.login_form .field .inp_code{width:98px;margin-right:35px;}
.login_form .field img{float:left;margin-top:3px;}
.login_form .btn_wrap{padding:37px 0 37px 84px;height:26px;}
.btn_login{margin-right:46px;width:80px;height:26px;display:inline-block;background:url(images/sla_icon.png) no-repeat 0 -39px;text-align:center;line-height:26px;_line-height:27px;color:#ffffff;cursor:pointer;border:none}
.btn_login:hover,.btn_clear:hover{text-decoration:none}
.btn_clear{width:80px;height:26px;display:inline-block;background:url(images/sla_icon.png) no-repeat -126px -39px;text-align:center;line-height:26px;_line-height:27px;color:#ffffff;}

.login_form .field_type{height:28px;line-height:28px;text-align:center}
.login_form .field_type label{display:inline-block;height:28px;text-align:right;color:#fcfcfc;}
.login_form .field_type input{line-height:18px;border:0 none;background-color:#ffffff;font-size:12px;color:#000000}

/*---------search start---------------*/
.sla_main{width:100%;position:relative;}
.blk_l{position:absolute;left:0;top:0;width:224px;height:auto;background:url(images/main_bg_01.jpg) repeat-y 0 0;}
.blk_l h1{width:176px;height:33px;display:inline-block;background:url(images/sla_icon.png) no-repeat 0 -197px;line-height:200px;overflow:hidden;margin:30px 24px 29px 24px;}
.info{line-height:24px;padding-top:8px;}
.info p{padding:0 26px 0 30px;color:#888888;}
.info p a{float:right;color:#00a0e9}
.info p span{color:#fcfcfc}
.nav{padding:26px 0 0 16px;width:208px;}
.nav li{margin-bottom:15px;height:35px;}
.nav li a{padding-right:16px;width:192px;height:35px;line-height:35px;overflow:hidden;display:block;background:url(images/sla_icon.png) no-repeat 0 -151px;color:#ffffff;text-align:right}
.nav li a:hover,.nav .selected a{background-position:0 -108px;font-weight:bold;color:#000000;text-decoration:none}
.blk_r{padding:0 20px 18px 18px;background:#f1f1f1 url(images/main_bg_02.jpg) repeat-y 0 0;}
.blk_r_1{padding:0 20px 18px 2px;}
.current_position{font-size:16px;color:#222222;font-weight:bold;padding:33px 0 42px 12px;}
.current_position_1{font-size:16px;color:#222222;font-weight:bold;padding:20px 0 22px 12px;}
.main_table{margin-bottom:29px;width:100%;border:1px solid #cccccc;}
.main_table .title{height:41px;line-height:42px;background:url(images/tit_bg.jpg) repeat-x 0 0;padding-left:23px;font-weight:bold;overflow:hidden;border-bottom:1px solid #cccccc}
.main{padding:0 20px 0 22px;background-color:#ffffff}
.main_tool{padding:17px 0 26px 61px;height:28px;line-height:28px;color:#555555}
.main_tool label{padding-left:28px;float:left}
.inp{float:left;width:86px;height:16px;padding:5px 0 5px 5px;border:1px solid #cccccc;line-height:16px;overflow:hidden;font-size:12px;color:#555555}
.inp01{width:214px;}
.inp02{width:43px;}
.inp03{width:141px;}
.inp04{width:305px;}
.inp05{width:136px;}
.inp06{width:91px;background-color:#ffffff}
.inp07{width:190px;background-color:#ffffff}
.inp08{width:53px;}

.text{width:141px;height:16px;padding:5px 0 5px 5px;border:1px solid #cccccc;font-size:12px;color:#555555;overflow: hidden}
.text01{width:304px;height:50px}
.text02{width:474px;height:50px}
.text03{width:40px;padding:5px 0 5px 0px;}
.text04{width:274px;height:50px}
.text05{width:211px;height:50px}

.btn{float:left;background:url(images/sla_icon.png) no-repeat 0 -72px;text-align:center;color:#ffffff;height:27px;display:inline-block;}
.btn:hover{text-decoration:none}
.btn1{width:65px;margin-left:19px;}
.btn2{width:87px;margin-left:18px;background-position:-72px -72px;}
.btn_browser{margin:2px 0 0 9px;background:url(images/sla_icon.png) no-repeat -165px -76px;width:38px;height:23px;float:left;display:inline-block;line-height:24px;overflow:hidden;text-align:center;color:#000000}
.btn_browser:hover{text-decoration:none}
.list_wrap th{font-weight:bold;color:#555555;text-align:center;height:23px;vertical-align:top}
.list{color:#6b6b6b}
.list_wrap td{text-align:center;line-height:24px;padding:4px;vertical-align:top;border-bottom: 1px solid #CCCCCC;}
.list .even{background-color:#f1f0f0;}
.list .operate{background-color:#CA8EFF;}
.list_content{border:solid #cccccc;border-width:1px 0;}
.list .content{text-align:left}
.list .content01{text-align:center;padding:8px 8px 8px 8px;}
.page_wrap{text-align:right;padding:14px 0 19px;color:#57a03a;height:20px;line-height:20px;}
.page{float:right}
.page a{float:left;color:#57a03a}
.page span{float:left;margin:0 5px 0 4px;}
.page .pre_page{padding:0 17px 0 13px;}
.page .next_page{padding:0 6px 0 14px;}
.page .page_num a{margin:0 5px 0 4px;width:19px;heigth:18px;line-height:18px;border:1px solid #dddddd;display:inline-block;text-align:center}
.page .page_num a:hover,.page .page_num .current{border:0 none;background:url(images/sla_icon.png) no-repeat -174px 0;width:21px;height:20px;color:#ffffff;text-decoration:none}
.list_wrap01 td{text-align:left;padding:8px 16px;}

/*---------write start---------------*/
.sla_write .main{padding:0 20px 28px 22px}
.main_1{background-color: #FFFFFF;padding:0 2px 28px 2px}
.sla_write .main_tool{padding-left:0}
.sla_write .btn2{margin:0}
.sla_write .btn3{width:87px;margin-left:18px;background-position:-72px -72px;}
.sel{margin-top:5px;font-size:13px;}
.sel01{width:130px;}
.sel02{width:124px;}
.sel03{width:63px;}
.sel04{width:43px;}
.sel05{width:109px;}
.list .inp{float:none;color:#6b6b6b}
.list .sel{color:#6b6b6b}
.list_1 td{padding:0px;}
.sla_write .list .first td{padding-top:20px;}
.upload{position:relative;float:left;text-align:left;margin-top:5px;margin-left: 8px;}
.upload .inp{float:left}
.main_table01 .upload{margin:0}
.main_table01 .upload01{width:250px}
.inp_file{position:absolute;left:0;top:-1px;width:146px;height:30px;overflow:hidden;opacity:0;filter:alpha(opacity=0);font-size:12px;}
.inp_file01{width:250px}
.main_table01 .list_wrap td{padding-bottom:18px;}
.btn_submit{padding:36px 0 40px;text-align:center;height:27px;}
.btn_submit_1{padding:16px 0 0px;text-align:center;height:27px;}
.btn_submit .btn2{margin:0 auto;float:none;border:0 none}
.btn_submit_1 .btn2{margin:0 auto;float:none;border:0 none}
.btn_del{float:none;margin:2px 0 0 0}
/*---------target start---------------*/
.sla_target .sel01,.sla_create .sel01{float:left}
.sla_target .main_tool,.sla_create .main_tool{padding-left:0}
.sla_target .lbl,.sla_create .lbl{padding-left:14px;}
.sla_target .main{padding-bottom:43px;}
.sla_create .lbl01{margin-left:24px;}
.sla_create .list_wrap td{padding:8px 16px;}


.inp_work_content{width:100%;}
.tr_delete{display:none;}
.tr_recover{background-color: #6B6B6B;display:none;}
.main_table01 .list_wrap .tr_recover td{padding-bottom: 2px;}
.body_right{background: url("images/main_bg_02.jpg") repeat-y scroll 0 0 #F1F1F1;}
.span_message{color:red;float:left;}



.sel_1{float:left;margin-left:20px;}
.div_operate{float:right;width:200px;}
.div_operate a{margin-left:20px;}





.div_dialog{
	font-size: 12px;
    line-height: 20px;
    font-family: Arial,"宋体";
}
.div_dialog td{
	margin: 0;
    padding: 0;
}
.TSBox {
    border-collapse: collapse;
    border-spacing: 0;
    color: #0E77C7;
}
.TSBox .Cont input,.TSBox .Cont textarea{border-color:#C4C7BD #EFEFEF #F2F2F2 #D2D5CA;border-style:solid;border-width:1px;color:#333;padding:3px 2px 1px;}
.TSBox {border-collapse:collapse;border-spacing:0; color:#0E77C7;}
.TSBox .TC,.TSBox .BC,.TSBox .ML,.TSBox .MR{height:5px;background:url("http://i0.sinaimg.cn/gm/weitan/geren20111220/images/wraplayer_09.png");_background:url("http://i0.sinaimg.cn/gm/weitan/geren20111220/images/wraplayer_09.gif");_filter:alpha(opacity=70);}
.TSBox .MC{background:#eaf7ff;border:1px solid #A1BDD7;}
.TSBox .TR,.TSBox .TL,.TSBox .BL,.TSBox .BR{width:5px;height:5px;background:url("http://i0.sinaimg.cn/gm/weitan/geren20111220/images/border.png") no-repeat;_background:url("http://i0.sinaimg.cn/gm/weitan/geren20111220/images/border2.png") no-repeat;_filter:alpha(opacity=60);}
.TSBox .TR img,.TSBox .TL img,.TSBox .BL img,.TSBox .BR img{width:5px;height:5px;}
.TSBox .TL{background-position:0 0px;_background-position:0 0px;}
.TSBox .TR{background-position:-5px 0px;_background-position:-5px 0px;}
.TSBox .BL{background-position:0 -5px;_background-position:0 -5px;}
.TSBox .BR{background-position:-5px -5px;_background-position:-5px -5px;}
.TSBox .TT {font-size:14px; font-weight:bold; margin:0 10px; border-bottom:1px solid #93BDCE; height:30px; padding-top:2px; line-height:28px;}
.TSBox .Close {background:url("http://i0.sinaimg.cn/gm/weitan/geren20111220/images/border2.png") -10px 0 no-repeat;height:7px;width:8px;float:right;overflow:hidden; margin:9px 0 0 8px;}
.TSBox a.Close:hover {background:url("http://i0.sinaimg.cn/gm/weitan/geren20111220/images/border2.png") -18px 0 no-repeat;cursor:pointer;}



.BT_Green {
    background: url("http://i0.sinaimg.cn/gm/hd/hpct/2011/0601/t/button.png") no-repeat scroll right -515px #31110A;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    height: 27px;
    line-height: 27px;
    overflow: hidden;
    padding-right: 10px;
    position: relative;
    text-decoration: none;
}

.ButtonAA input {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    cursor: pointer;
    height: 27px;
    left: -20px;
    margin: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 110px;
}
